.about {
    display: none;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
            display: flex;
            padding-bottom:94px;
            padding-top: 0;
        }
    
}
.img-ul {
    // display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
        }
}

.img-ul__li:not(:last-child) {
    margin-right: 30px;
}